{% extends 'base.html' %}
{%block content%}
<!-- Styles block -->

<!-- Content block -->

<div class="col-4">
    <div class=" text-center " style="font-family: 'Indie Flower', cursive; font-size: 55px; color: rgb(73, 3, 3); padding: 55px 25px;">Inspirational Quote</div>
    
    <div id="quote">
        <p class="body-text-2" style="font-family: 'Cormorant Upright', serif;font-size: 45px; text-align: center; color: rgb(20, 74, 90);">{{ quotes.quote }}</p>
        <p class="text header" style="font-family: 'Cormorant Upright', serif;font-size: 35px; text-align: center; color: rgb(20, 74, 90);">- {{ quotes.author }}</p>
    </div>
</div>
{% endblock %}
