{% extends 'base.html' %}

{%block content%}

<div class="container">
    <div class="row">
        {%for blog in blogs%}
        <div class=" col-md-4">
            <div class="panel text-center">
                    <h3>{{blog.title_blog}}</h3>
                </div>
                <hr>
                <div class="panel-body">
                    <p>{{blog.description}}</p>
                    <p>{{blog.user.username}}</p>
                </div>
                <div class="panel-footer">
                    <a href="{{url_for('main.view', id=blog.id)}}"></a>
                    {% if blog.user == current_user%}
                    <a href="{{url_for('main.delete', id=blog.id)}}"></a>
                    <a href="{{url_for('main.update_blog', id=blog.id)}}"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}